<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.godori">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="오늘은 운동해야지"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GODORI">
        <activity android:name=".activity.GroupCreation4Activity"></activity>
        <activity android:name=".fragment.GroupCreation4Activity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.Information2Activity" />
        <activity android:name=".activity.Information1Activity" />
        <activity android:name=".activity.GroupProdCompleActivity" />
        <activity android:name=".activity.GroupJoinCompleActivity" />
        <activity android:name=".GroupJoinCompleteActivity" />
        <activity android:name=".GroupCreationCompleteActivity" />
        <activity android:name=".activity.GroupCreation3Activity" />
        <activity android:name=".activity.GroupCreation2Activity" />
        <activity android:name=".activity.GroupCreation1Activity" />
        <activity android:name=".GroupInfoActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GroupRecruitingActivity" />
        <activity android:name=".activity.CertifTabUpload1Activity" />
        <activity android:name=".activity.CertifTabUpload2Activity" />
        <activity android:name=".activity.CertifTabUpload3Activity" />
        <activity android:name=".activity.CertifTabDetailActivity" />
        <activity android:name=".activity.TabBarActivity" />
    </application>

</manifest>