<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.godori">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="오늘은 운동해야지"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GODORI">
        <activity android:name=".GroupJoinCompleteActivity"></activity>
        <activity android:name=".GroupCreationCompleteActivity" />
        <activity android:name=".GroupCreation3Activity" />
        <activity android:name=".GroupCreation2Activity" />
        <activity android:name=".GroupCreation1Activity" />
        <activity android:name=".GroupInfoActivity" />
        <activity android:name=".CertifTabUpload1Activity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GroupRecruitingActivity" />
        <activity android:name=".CertifTabUpload3Activity" />
        <activity android:name=".CertifTabUpload2Activity" />
        <activity android:name=".CertifTabDetailActivity" />
        <activity android:name=".TabBarActivity" />
    </application>

</manifest>